a {
  text-decoration: none;
}
html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 320px / 15;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 360px / 15;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 375px / 15;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 384px / 15;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 400px / 15;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 414px / 15;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 424px / 15;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 480px / 15;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 540px / 15;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 720px / 15;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 750px / 15;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background: #f2f2f2;
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 88rem / 50;
  background-color: #ffc001;
}
.search-content .classify {
  width: 44rem / 50;
  height: 70rem / 50;
  margin: 11rem / 50 25rem / 50 7rem / 50 24rem / 50;
  background: url(../images/classify.png) no-repeat;
  background-size: 44rem / 50 70rem / 50;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  outline: none;
  width: 100%;
  border: 0;
  height: 66rem / 50;
  border-radius: 33rem / 50;
  background-color: #fff2cc;
  margin-top: 12rem / 50;
  font-size: 25rem / 50;
  padding-left: 55rem / 50;
  color: #757575;
}
.search-content .login {
  width: 75rem / 50;
  height: 70rem / 50;
  line-height: 70rem / 50;
  margin: 10rem / 50;
  font-size: 25rem / 50;
  text-align: center;
  color: #fff;
}
.banner {
  width: 750rem / 50;
  height: 368rem / 50;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
nav {
  width: 750rem / 50;
}
nav a {
  float: left;
  width: 150rem / 50;
  height: 140rem / 50;
  text-align: center;
}
nav a img {
  display: block;
  width: 82rem / 50;
  height: 82rem / 50;
  margin: 10rem / 50 auto 0;
}
nav a span {
  font-size: 25rem / 50;
  color: #333;
}
