[mysqld]
server-id = 1
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
default-time-zone='+8:00'
innodb_rollback_on_timeout='ON'
max_connections=500
innodb_lock_wait_timeout=500
slave_skip_errors=1062
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
